@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .mobile-rotate {
    transform: rotate(90deg);
    transform-origin: top left;
    width: 100vh;
    height: 100vw;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
